body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  max-width: 100%;
}

.title {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}


.divider {
  height: 2px;
  background: #ccc;
  margin: 10px auto;
  width: 95%;
  border: none;
}

.menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.categories_menu {
  width: 18%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories_menu tr {
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.categories_menu tr:hover {
  background-color: #f0f0f0;
  font-weight: bold;
}

.sites_menu {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* float: none; */

}

.sites_menu tr {
  padding: 15px;
  table-layout: fixed;
  border-collapse: separate;
  /* width: 100%; */
}

.menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: rgb(91, 146, 248);
  border-bottom: 2px solid #999999;
  box-sizing: border-box;
  height: 35px;

}

.menu_title .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 1;
  text-align: center;
  flex-grow: 0;
  top: 7px;
}

.menu_title .fa-square-plus {
  margin-left: auto;
  cursor: pointer;
}

.sites_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 35px;
}

.sites_row i {
  padding: 5px;
  cursor: pointer;
}

.error_message {
  color: #ff4d4d;
  float: right;
  margin: 20px auto;
  display: none;
}

form {
  margin: 20px auto;
  padding: 20px;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form_group label {
  margin-bottom: 5px;
}

.form_group input,
.form-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.show_password {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.show_password input {
  margin-right: 5px;
}

.form_buttons {
  display: flex;
  justify-content: center;
}

.form_buttons button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form_buttons .cancel {
  background-color: #ff4d4d;
  color: #fff;
}

.form_buttons .save {
  background-color: #007bff;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.modal_buttons button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal_buttons #cancel {
  background-color: #f44336;
  color: white;
}

.modal_buttons #submit {
  background-color: #4CAF50;
  color: white;
}

.autogen_password_icon {
  position: relative;
  display: flex;
  align-items: center;
}

.autogen_password_icon input {
  width: 100%;
  padding-right: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.autogen_password_icon i {
  position: absolute;
  right: 10px;
  color: #666;
  cursor: pointer;
}

.range_selection {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.range_bar {
  width: 90%;
}

.range_value {
  flex: 1;
  width: 50px;
  text-align: center;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.select_options {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }

  .categories_menu {
    background-color: #444;
    color: #fff;
  }

  .categories_menu tr:hover {
    background-color: #222;
  }

  .sites_menu {
    background-color: #444;
    color: #fff;
  }

  .sites_menu {
    background-color: #444;
    color: #fff;
  }

  .modal-content {
    background-color: #333;
    color: #fff;
  }
}

@media screen and (min-width: 1024px) {
  .menus {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .categories_menu {
    width: 30%;
    font-size: 2em;
  }

  .categories_menu tr {
    padding: 30px;
  }

  .sites_menu {
    width: 65%;
    font-size: 2em;
    padding: 10px;
  }

  .sites_menu tr {
    padding: 30px;
  }

  .modal-content {
    width: 30%;
    font-size: 1.5em;
    padding: 20px;
    margin: auto;
  }

  .modal-content input,
  .modal-content button {
    font-size: 1.2em;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
  }

  .modal-content button {
    margin-top: 10px;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .menus {
    flex-direction: column;
  }

  .categories_menu {
    width: 100%;
  }

  .sites_menu {
    width: 100%;
  }

}